{% extends "skeleton.html" %}
{% block content %}
<div id="dvWarning">
    <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
    &nbsp;Admin mode
</div>
<div id="dvTitle">
    <table width="100%">
        <tr>
            <td width="10%"><b>Cfg</b></td>
        </tr>
    </table>
</div>
<hr>
<div id="dvManagement">
    <form id="frmCfg" method="post" action="/admin_old" enctype="multipart/form-data">
        <b><label for="edTitle">Title</label></b> <input type="text" placeholder="News title..." name="edTitle" id="edTitle">
        <br>
        <b><label for="edBody">Body</label></b>
        <textarea name="edBody" id="edBody" placeholder="News body..." rows="3" cols="40"></textarea>
        <br>
        <b><label for="edUrl">URL</label></b> <input type="text" placeholder="News url..." name="edUrl" id="edUrl">
        <br>
        <b><label for="edDocForNews">Doc (optional)</label></b>
        <select id="edDocForNews" name="edDocForNews">
            <option value="">N/A</option>
            {% for document in last_documents %}
                <option value="{{ document.key.urlsafe() }}">{{ document.title }}</option>
            {% endfor %}
        </select>
        <br>
        <b><label for="edPhotoForNews">Photo (optional)</label></b>
        <select id="edPhotoForNews" name="edPhotoForNews">
            <option value="">N/A</option>
            {% for photo in last_photos %}
                <option value="{{ photo.key.urlsafe() }}">{{ photo.title }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="edOpNews" name="edOpNews">
            <option value="nop">Nop</option>
            <option value="add">Add</option>
            <option value="delete">Delete</option>
        </select><input type="submit" value="Add or delete news">

        <hr>
        <b><label for="edDocTitle">Document title</label></b> <input type="text" placeholder="Document title..." name="edDocTitle" id="edDocTitle">
        <br>
        <b><label for="edDocTags">Document tags</label></b> <input type="text" placeholder="Document tags separated by commas..." name="edDocTags" id="edDocTags">
        <br>
        <label for="edDocFile">Upload document file</label> <input type="file" name="edDocFile" id="edDocFile" />
        <br>
        <select id="edOpDoc" name="edOpDoc">
            <option value="nop">Nop</option>
            <option value="add">Add</option>
            <option value="delete">Delete</option>
        </select>
        <input type="submit" value="Add or delete document">
    </form>
</div>
<div id="dvItems" width="100%">
    <p><table width="100%"><tr>
        <td><a target="_blank" href="/members">Members</a></td>
        <td><a target="_blank" href="/photos">Photos</a></td>
        <td><a target="_blank" href="/news">News</a></td>
        <td><a target="_blank" href="/trials">Trials</a></td>
        <td><a target="_blank" href="/docs">Documents</a></td>
    </tr></table></p>
</div>
{% endblock %}
