{% extends "skeleton.html" %}
{% block content %}
<a href="/competition/management"><img alt="Volver a competiciones" height="24px" width="24px" title="Volver a competiticiones" class="styled-button" src="/res/back.svg"/></a>
<a href="/participation_record/generate_csv?id={{ participation_record.key.urlsafe() }}"><img alt="Descargar CSV" height="24px" width="24px" title="Descargar CSV" class="styled-button" src="/res/document.svg"/> Descargar CSV</a>
<a href="/member/record/show_all" target="_blank"><img alt="Marcas Escualos" height="24px" width="24px" title="Marcas Escualos" class="styled-button" src="/res/chrono.svg"/> Marcas Escualos</a>
<a href="https://www.fegan.org/marks/" target="_blank"><img alt="Marcas FEGAN" height="24px" width="24px" title="Marcas FEGAN" class="styled-button" src="/res/chrono.svg"/> Marcas FEGAN</a>
<div class="clsTitle"><b>Registro de participación global</b></div>
<div id="dvEditParticipationRecord">
    <h3>Competición</h3>
    <p>{{ competition.date }} <a href="/competition/modify?id={{ competition.key.urlsafe() }}"><b>{{ competition.name }}</b></a>
    <i>{{ competition.where }}</i>
        <p><b>Estadísticas</b><ul>
            <li>{{ total_pax }} es el total de personas que asisten a la prueba.</li>
            <ul>
                <li>{{ total_participants }} miembros del club participan,</li>
                <li>+{{ num_companions }} acompañantes,</li>
            </ul>
            <li>{{ num_lunchers }} se quedan a comer.</li>
        </ul></p>
    </p>

    <div class="clsSubtitle"><b>Participantes por prueba</b></div>
    <table border="0" width="100%">
        {% for test in tests %}
            {% set this_participants_per_test =  participants_per_test[test.uid] %}
            
            {% if this_participants_per_test %}
                <tr><td colspan="3"><b>{{ test.__str__() }}</b></td></tr>
                
                {% for participant_per_test in this_participants_per_test %}
                    <tr>
                        <td>
                            <a href="/participation_record/participant_per_test/delete?id={{ participation_record.key.urlsafe() }}&member_test_id={{ participant_per_test.uid }}">
                                <img width="16" height="16" alt="Borrar" title="Borrar" src="/res/delete.svg" style="background-color: orangered">
                            </a>
                        </td>
                        {% include "participant_per_test_entry.html" %}
                    </tr>
                {% else %}
                    <tr><td colspan="3">No hay participantes por prueba.</td></tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr><td colspan="3">No hay participantes por prueba.</td></tr>
        {% endfor %}
    </table>

    <h3>Nuevo participante por prueba</h3>
    <form id="frmParticipantPerTestInParticipationRecord"
        method="post"
        action="/participation_record/participant_per_test/modify?id={{ participation_record.key.urlsafe() }}">

        <table width="100%">

        <tr>
            <td>
                <label for="edMemberPerTest">Miembro </label>
                <select id="edMemberPerTest" name="edMemberPerTest">
                    {% for participant_entry in participants %}
                        {% set member = participant_entry.member.get() %}

                        <option value="{{ member.key.urlsafe() }}">{{ member.surname }}, {{ member.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <label for="edTest">Prueba </label>
                <select id="edTest" name="edTest">
                    {% for test in competition.get_sorted_tests() %}
                        <option value="{{ test.uid }}">{{ test.__str__() }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>
                Marca
            </td>
            <td>
                <input style="width: 80px" type="number" id="edHours" name="edHours" value="0" />
                <label for="edHours">h</label>

                <input style="width: 80px" type="number" id="edMinutes" name="edMinutes" value="0" />
                <label for="edMinutes">'</label>

                <input style="width: 80px" type="number" id="edSeconds" name="edSeconds" value="0" />
                <label for="edSeconds">"</label>

                <input style="width: 80px" type="number" id="edMillis" name="edMillis" value="0" />
                <label for="edMillis">ms</label>
            </td>
        </tr>

            <tr><td>
                <input type="submit" value="Guardar" />
            </td></tr>

        </table>
    </form>

    <div class="clsSubtitle"><b>Participantes</b></div>
    <table border="0" width="100%">
        {% for member_participation in participants %}
            <tr>
                <td>
                    <a href="/participation_record/member_participation/delete?id={{ participation_record.key.urlsafe() }}&member_id={{ member_participation.member.urlsafe() }}">
                        <img width="16" height="16" alt="Borrar" title="Borrar" src="/res/delete.svg" style="background-color: orangered">
                    </a>
                </td>
                {% include "member_participation_entry.html" %}
            </tr>
        {% else %}
            <tr><td colspan="3">No hay participantes.</td></tr>
        {% endfor %}
    </table>

    <h3>Nuevo participante</h3>
    <form id="frmParticipantInParticipationRecord"
      method="post" action="/participation_record/member_participation/modify?id={{ participation_record.key.urlsafe() }}"
      enctype="multipart/form-data">

        <table width="100%">

        <tr>
            <td><label for="edMember">Miembro </label></td>
            <td>
                <select id="edMember" name="edMember">
                    {% for member in members %}
                        <option value="{{ member.key.urlsafe() }}">{{ member.surname }}, {{ member.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <label for="edLunch">Se queda a comer </label>
            </td>
            <td>
                <input type="checkbox" name="edLunch" id="edLunch" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="edCompanions">Número de acompañantes: </label>
            </td>
            <td>
                <input type="number" name="edCompanions" id="edCompanions" min="0" value="0" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="edComments">Observaciones: </label>
            </td>
            <td>
                <textarea id="edComments" name="edComments" cols="60"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <label for="edPayment">Recibo de pago <i>(menos de 1MB)</i> </label>
            </td>
            <td>
                <input type="file" id="edPayment" name="edPayment">
            </td>
        </tr>

        <tr><td>
            <input type="submit" value="Guardar" id="btSend" />
        </td></tr>

        </table>

    </form>
</div>

{% endblock %}
