{% extends "skeleton.html" %}
{% block content %}
<div id="dvWarning">
    <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
    &nbsp;Login de socios
</div>
<div id="dvTitle">
    <table width="100%">
        <tr>
            <td width="10%"><b>{{ usr.name }}</b> <i>{{ usr.email }}</i></td>
        </tr>
    </table>
</div>

<div id="dvEnsureLoginForm">
    <form id="frmEnsureLogin" action="ensure_login" method="post">
        <label for="edDNI">DNI</label>
         <input id="edDNI" name="edDNI" type="text" placeholder="DNI"/>
        <label for="edSoc">Número de socio</label>
         <input id="edSoc" name="edSoc" type="number" placeholder="# socio"/>
    </form>
</div>
