{% extends "skeleton.html" %}
{% block content %}
<div>
    <table width="100%">
        <tr width="100%">
            <td width="75%"><p align="center"><img src="/res/header.jpg"></p></td>
        </tr>
    </table>
</div>

<div id="dvItems">
{% for notice in news %}
<div id="tblItems">
    {% include "news_entry.html" %}
</div>
{% else %}
    No hay noticias registradas.
{% endfor %}
</div>

<div id="dvPatrons">
    <table width="100%">
        <tr>
        {% for patron in patrons %}
            {% if patron.photo %}
            <td style="text-align: center">
            <a href="{{ patron.url }}" target="_blank">
                <img class="clsPhoto" width="64" height="64"
                     alt="{{ patron.name }}" title="{{ patron.name }}"
                     src="data:image/png;base64,{{ patron.photo.encode('base64') }}">
            </a>
            {% endif %}
            <br/><a href="{{ patron.url }}" target="_blank">{{ patron.name }}</a>
            </td>

            {% if loop.index % 5 == 0 %}
                </tr><tr>
            {% endif %}
        {% endfor %}
    </tr></table>
</div>

<div id="dvFooter">
    <p align="center"><b>Club Nataci&oacute;n Escualos</b>
    <br/><i>27528 Lugar de San Cristobo, s/n. Parroquia de Cova, concello de Carballedo, Lugo</i></p>
</div>
{% endblock %}
