{% extends "skeleton.html" %}
{% block content %}
<div>
    <table width="100%">
        <tr width="100%">
            <td width="75%"><p align="center"><img src="/res/header.jpg"></p></td>
        </tr>
    </table>
</div>

<div id="dvItems">
{% for notice in news %}
<div id="tblItems">
    <p>
    <b>{{notice.added}}: {{notice.title}}</b>
    <br/><i>{{notice.body}}</i>
    {% if notice.url %}
        <p align="right"><a target="_blank" href="{{notice.url}}"><b>&gt;&gt;</b></a></p>
    {% endif %}
    </p>
</div>
{% else %}
    No hay noticias registradas.
{% endfor %}
</div>

<div id="dvPatreons">
    <table width="100%">
        <tr>
        {% for patreon in patreons %}
            {% if patreon.photo %}
            <td style="text-align: center">
            <a href="{{ patreon.url }}" target="_blank">
                <img class="clsPhoto" width="64" height="64"
                     alt="{{ patreon.name }}" title="{{ patreon.name }}"
                     src="data:image/png;base64,{{ patreon.photo.encode('base64') }}">
            </a>
            {% endif %}
            <br/><a href="{{ patreon.url }}" target="_blank">{{ patreon.name }}</a>
            </td>

            {% if loop.index % 5 == 0 %}
                </tr><tr>
            {% endif %}
        {% endfor %}
    </tr></table>
</div>

<div id="dvFooter">
    <p align="center"><b>Club Nataci&oacute;n Escualos</b>
    <br/><i>27528 Lugar de San Cristobo, s/n. Parroquia de Cova, concello de Carballedo, Lugo</i></p>
</div>
{% endblock %}
