{% extends "skeleton.html" %}
{% block content %}
<div id="dvWarning">
    <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
    &nbsp;Kernel
</div>
<div id="dvTitle">
    <table width="100%">
        <tr>
            <td width="10%"><b>Cfg</b></td>
        </tr>
    </table>
</div>
<div id="dvAdminLinks">
    <table width="100%">
        <tr>
            <td width="33%">
                <a href="/admin/patreons">
                    <img class="styled-button" width="32" height="32" alt="Patrocinadores" title="Patrocinadores" src="/res/dollar.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/competition/management">
                    <img class="styled-button" width="32" height="32" alt="Competiciones" title="Competiciones" src="/res/competitions.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/admin_old">
                    <img class="styled-button" width="32" height="32" alt="Viejo panel de control" title="Viejo panel de control" src="/res/wrench.svg">
                </a>
            </td>
        </tr>
        <tr>
            <!--
            <td width="33%">
                <a href="/admin/members">
                    <img class="styled-button" width="32" height="32" alt="Viejo panel de control" title="Viejo panel de control" src="/res/member.svg">
                </a>
            </td>
            -->
        </tr>
    </table>
</div>

{% endblock %}
