{% extends "skeleton.html" %}
{% block content %}
<div id="dvWarning">
    <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
    &nbsp;Kernel
</div>
<div id="dvTitle">
    <table width="100%">
        <tr>
            <td width="10%"><b>Cfg</b></td>
        </tr>
    </table>
</div>
<div id="dvAdminLinks">
    <ul>
  <!--  <li><a href="/admin/members">Members</a></li> -->
    <!-- <li><a href="/admin/patreons">Patreons</a></li> -->
    <li><a href="/admin_old">Old admin tools</a></li>
    </ul>
</div>

{% endblock %}
