{% extends "skeleton.html" %}
{% block content %}
<div id="dvWarning">
    <img height="24px" height="24px" src="/res/warning.svg" title="warning" alt="warning">
    &nbsp;Kernel
</div>
<div id="dvTitle">
    <table width="100%">
        <tr>
            <td width="10%"><b>Cfg</b></td>
        </tr>
    </table>
</div>
<div id="dvAdminLinks">
    <table width="100%">
        <tr>
            <td width="33%">
                <a href="/admin/patreons">
                    <img class="styled-button" width="32" height="32" alt="Patrocinadores" title="Patrocinadores" src="/res/dollar.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/competition/management">
                    <img class="styled-button" width="32" height="32" alt="Gestión de competiciones" title="Gestión de competiciones" src="/res/competitions.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/admin/members">
                    <img class="styled-button" width="32" height="32" alt="Miembros" title="Viejo panel de control" src="/res/member.svg">
                </a>
            </td>
        </tr>
        <tr>
            <td width="33%">
                <a href="/admin/trials">
                    <img class="styled-button" width="32" height="32" alt="Pruebas organizadas por el club" title="Pruebas organizadas por el club" src="/res/trophy.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/admin/photos">
                    <img class="styled-button" width="32" height="32" alt="Fotos" title="Fotos" src="/res/photo.svg">
                </a>
            </td>
            <td width="33%">
                <a href="/admin_old">
                    <img class="styled-button" width="32" height="32" alt="Otras configuraciones" title="Otras configuraciones" src="/res/wrench.svg">
                </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
