{% set member = member_participation.member.get() %}

<td>
    {{ member.surname }}, {{ member.name }}
</td>
<td>
    {%- if member_participation.num_companions > 0 -%}
    +{{ member_participation.num_companions }} <i>pax</i>
    {%- endif -%}
</td>

<!--
<td>
    {% if member_participation.payment %}
        <a href="/participation_record/member_participation/retrieve_payment?id={{member_participation.payment.urlsafe()}}">
            Resguardo
        </a>
    {% else %}
        Sin resguardo.
    {% endif %}
</td>
-->

<td>
    {{ "Se queda a comer." if member_participation.stays_for_lunch else "No se queda a comer." }}
</td>
</tr>
<tr><td></td><td colspan="2"><i>{{ member_participation.comments }}</i></td>
