{% extends "skeleton.html" %}
{% block content %}
<div id="dvTitle"><b>Noticias</b></div>
<div id="dvItems">
    {% for notice in news %}
    <div id="tblItems">
        <p>
        <b>{{notice.added}}: {{notice.title}}</b>
        <br/><i>{{notice.body}}</i>
        {% if notice.url %}
            <p align="right"><a target="_blank" href="{{notice.url}}"><b>&gt;&gt;</b></a></p>
        {% endif %}
        </p>
    </div>
    {% else %}
        No hay noticias registradas.
    {% endfor %}
</div>
{% endblock %}
