{% extends "skeleton.html" %}
{% block content %}
<div id="dvTitle"><b>Patrocinadores</b></div>

<h2>Nuevo patrocinador</h2>
<form id="frmAddPatreon"
      method="post"
      action="/admin/patreons"
      enctype="multipart/form-data">

    <label for="edPhoto">Imagen comercial: </label>
    <input id="edPhoto" name="edPhoto" type="file" accept="image/*">

    <br/>
    <label for="edName">Name: </label>
    <input id="edName" name="edName" type="text" placeholder="nombre" required="required">

    <br/>
    <label for="edUrl">URL: </label>
    <input id="edUrl" name="edUrl" type="text" placeholder="URL" value="htp://">

    <br/>
    <input type="submit" value="Guardar">
</form>

<div id="dvItems">
    <h2>Patrocinadores</h2>
    <table width="100%">
    {% for patreon in patreons %}
        <tr width="100%">
            <td width="20%">
                <a href="/admin/patreon/delete?id={{ patreon.key.urlsafe() }}">
                    <img width="16" height="16"
                         src="/res/delete.svg" style="background-color: orangered">
                </a>
            </td>
            <td width="20%">
                {{ patreon.added }}
            </td>
            <td width="20%">
            {% if patreon.photo %}
                <img class="clsPhoto" width="64" height="64"
                     alt="{{ patreon.name }}" title="{{ patreon.name }}"
                     src="data:image/png;base64,{{ patreon.photo.encode('base64') }}">
            {% else %}
                <img class="clsPhoto" src="/res/unknown_member.svg"
                     alt="No foto" title="No foto"
                     height="64" width="64"
                     style="background-color: black">
            {% endif %}
            </td>
            <td width="20%" id="tblItems">
                <b>{{ patreon.name }}</b>
            </td>
            <td width="30%">
                <i><a target="_blank" href="{{ patreon.url }}">
                    {{ patreon.url }}
                </a></i>
            </td>
        </tr>
    {% else %}
        No hay patrocinadores registrados.
    {% endfor %}
    </table>

</div>
{% endblock %}
